<div class="heroe-component">
    <h1>{{nombre}}</h1>

    <dl>
        <td>Nombre:</td>
        <dd>{{nombre}}</dd>

        <td>Edad:</td>
        <dd>{{edad}}</dd>

        <td>Función:</td>
        <dd>{{obtenerNombre()}}</dd>

        <td>Nombre en mayusculas:</td>
        <dd>{{nombreEnMayusculas}}</dd>
    </dl>

    <button 
    (click)="cambiarNombre()"
    class="heroe-component__button">
        Cambiar Heroe
    </button>

    <button
    (click)="cambiarEdad()"
    class="heroe-component__button">
        Cambiar Edad
    </button>
</div>